/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.boxed{
    border-style:groove;
    background-color:#F2F5F7;
}

.small {
    line-height: 0.5;
}

a.specialeffects:hover {
  color: black ;
  background-color: #ff0 ;
}
/*# sourceMappingURL=bootstrap.css.map */
