.fa-weather:before {
content: "";
float: left;
width: 25px;
height: 25px;
border-radius: 50%;
margin-right: 10px;
margin-top: -2px;
}


.connection{
    background-image: url("contents/icons/connection.png");
}
.box-size{
        width:50%;
    
}
.box-size-full
{
           width:100%;
}

.para{
    margin-left:2%;
    
}


/*Class description for hotels page*/

.contact {
    color: #333;
    font-size: 11px;
    margin: 0 0 12px 0;
}
.description {
    padding: 0px 0px 0px 10px;
    width: 90%;
}
.pricing-bg {
    background-color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
}
.pricing {
    background-color: #fff;
    padding: 16px;
    position: relative;
    text-align: right;
    vertical-align: top;
    width: 25%;
}

.hotel-wrap {
    border: 0px solid #fff;
    border-radius: 0px;
    box-shadow: 0px 1px 0 #ccc;
    position: relative;
}
.details {
    margin-left: 230px;
}
.im-placement {
    margin-top: 18px;
    min-height: 16px;
}
.price {
    display: block;
    margin-bottom: 4px;
    margin-top: -2px;
    line-height: 1;
}
.description .hotel-badge.loved-by-guests-badge {
    border-color: #f61800;
    color: #f61800;
    margin-right: 20%;
}
h3 {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 12px;
    margin-right: 10px;
}

.additional-details {
    margin: 0;
    padding-right: 10px;
    width: 60%;
}
.widget-tooltip {
    display: inline-block;
}
.reviews-box {
    color: #333;
    float: right;
    width: 40%;
    max-width: 140px;
}
.resp-module {
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.image-hotel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 #ccc;
    height: 120px;
    margin: 0 0 10px 0;
    padding: 3px;
    width: 200px;
    position: absolute;
}

.description .hotel-badge {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    float: right;
    font-weight: bold;
    margin: 0 0 6px 10px;
    padding: 4px 8px;
}
.p-adr, #listings .p-tel {
    display: inline;
}

.image-and-details {
    min-height: 150px;
}
.image a img {
    position: relative;
    width: 100%;
}
.welcome-rewards .hr-live-text {
    font-size: 12px;
}
.hr-live-text {
    color: #906;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
}
.star-rating, #listings .amenities {
    margin-bottom: 10px;
}

.star-rating {
    line-height: 1em;
}
.icon-star {
    color: #f61800;
    display: inline-block;
    margin: 0 1px;
    font-size: 13px;
}
.widget-tooltip-br .widget-tooltip-bd, .widget-tooltip-tr .widget-tooltip-bd {
    left: -5px;
    right: auto;
}
.widget-tooltip-bd {
    background: #fff;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    display: inline-block;
    color: #7e7e7e;
    opacity: 0;
    font-weight: normal;
    padding: 10px;
    position: absolute;
    right: -5px;
    box-shadow: #7e7e7e 0px 0px 7px 0px;
    top: -99999em;
    white-space: nowrap;
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    text-align: left;
    cursor: auto;
}

box .cont {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px 0 #7e7e7e;
    padding: 0 px;
    text-align: center;
}
.reviews-box .cont {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px 0 #7e7e7e;
    padding: 0px;
    text-align: center;
}
#listings .contact {
    color: #333;
    font-size: 11px;
    margin: 0 0 12px 0;
}

.cta, a.cta, .cta:link, .cta:visited {
    background: #95cffe;
    background: -moz-linear-gradient(top,#95cffe 0%,#30a0fd 40%,#2989d7 100%);
    background: -webkit-linear-gradient(top,#95cffe 0%,#30a0fd 40%,#2989d7 100%);
    background: -o-linear-gradient(top,#95cffe 0%,#30a0fd 40%,#2989d7 100%);
    background: linear-gradient(to bottom,#95cffe 0%,#30a0fd 40%,#2989d7 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF95CFFE',EndColorStr='#FF2989D7')";
    zoom: 1;
    background-position: 50%;
    border: 1px solid #bbe9ff;
    border-bottom-color: #30a0fd;
    border-left-color: #95cffe;
    border-right-color: #95cffe;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #30a0fd,1px 1px 0.5px 1px rgba(60,163,227,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 2px 4px;
    overflow: hidden;
    padding: 2px 10px;
    position: relative;
    vertical-align: middle;
    width: auto;
}

.price .price-from-info {
    margin-right: 3px;
}
.price {
    display: block;
    margin-bottom: 4px;
    margin-top: -2px;
    line-height: 1;
}
.map-link {
    display: inline-block;
}
.reviews-box .guest-reviews .guest-reviews-badge.guest-rating-outstanding {
    font-size: 16px;
}
box .small-view {
    display: none;
}
.article
{
    color: #4e4e4e;
    font-size: 12px;
    line-height: 135%;
    font-family: arial,helvetica,sans-serif;
    background: #fff;
}
.u-photo{
    width:100%;
}

.dine-listing {
    position: relative;
    height: 180px;
    padding: 1px;
    background-color: #fff;
    margin-top: 12px;
}

.dine-listing .photo_booking {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 1px;
    left: 1px;
    border-right: 1px solid #eceae2;
    line-height: 1em;
}

.dine-listing .shortSellDetails {
    float:right;
    margin-right: 20px;
    padding: 0px 0 12px 30px;
}
.dine-listing .booking {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px 15px;
    height: 150px;
    width: 122px;
}
.list .dine-listing .photo_booking .photo_badge_coe {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px 4px;
    margin: 0;
}
.sizedThumb{
    
    height: 180px;
    width: 180px;
}

.dine-listing .title {
    font-size: 1.3335em;
    margin-bottom: 1px;
    line-height: 1.3335em;

}
.dine-listing .popIndexBlock {
    margin-bottom: 2px;
    line-height: 16px;
}
.dine-listing .rating {
    margin-bottom: 7px;
}
.dine-listing .priceBar, .list .listing .review_stubs, .list .listing .rating {
    margin-bottom: 7px;
}
.dine-listing .priceBar {
    height: 14px;
    line-height: 14px;
}
.dine-listing .cuisines {
    height: 32px;
    line-height: 32px;
    color: #656565;
    white-space: normal;
    overflow: hidden;
}
.photo_image{
    height: 180px;
    width: 306px;
    margin-left: -63px;
}
.image-hotel .resize{
    height: 160px;
    width: 320px;
    padding: 0px;
}

.section-page{
    height :480px !important;
    width:100%;
}
iframe {
 height: 480px !important;
 width: 99%;
 resize: both;
 overflow: auto;
}